apiVersion: v1
kind: Secret
metadata:
  name: {{ include "astronomy.fullname" . }}-secrets
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "astronomy.labels" . | nindent 4 }}
type: Opaque
stringData:
  NASA_API_KEY: {{ .Values.server.env.NASA_API_KEY | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgresql.auth.password | quote }}
  DATABASE_URL: {{ printf "postgresql://%s:%s@%s:%d/%s" .Values.postgresql.auth.username .Values.postgresql.auth.password .Values.postgresql.name (int .Values.postgresql.port) .Values.postgresql.auth.database | quote }}
  REDIS_URL: {{ printf "redis://%s:%d" .Values.redis.name (int .Values.redis.port) | quote }}
